<div class="content">
  <div class="shadow-3 nav-bar">
    <div class="title">
      <h1>StockWise</h1>
      <img style="width: 35px; margin-left: 10px;" src="../assets/glasses-vision-svgrepo-com.svg">
    </div>
    <div class="right-nav">
      <a class="login">Login</a>
      <p-button label="Sign Up"></p-button>
      <i class="pi pi-bars" style="margin-left: 40px; color: #FFF"></i>
    </div>
  </div>
  <div class="main-container">
    <app-filter-pane></app-filter-pane>
    <app-dashboard></app-dashboard>
  </div>
</div>