.content {
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
}

.nav-bar {
    background: #333652;
    height: 60px;
    padding: 15px 30px 15px 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.login {
    font-size: 1.1rem;
    margin-right: 15px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:hover {
    font-size: 1.2rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.toggle-bar {
    margin-top: 100px;
}

app-filter-pane {
    flex: 0;
}

app-dashboard {
    flex: 1;
}
